# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

/playground
/build
/checkpoints
/wandb
/LLaVA-NeXT-Data
/cuda_memory_allocate
/VLMEvalKit
/data

# Demo
serve_images/
data/MME_Benchmark_release_version.zip
